@page
@model Employment_advertisement_project.Pages.Candidate_Details.CreateModel

@{
    ViewData["Title"] = "Create";
}
<!--code to create the new database in the candidate details table-->

<h1>Create</h1>

<h4>Candidate_Detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Candidate_Detail.Name_of_candidate" class="control-label">Name of candidate</label>
                <input asp-for="Candidate_Detail.Name_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_Detail.Name_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_Detail.DOB_of_candidate" class="control-label">DOB of candidate</label>
                <input asp-for="Candidate_Detail.DOB_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_Detail.DOB_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_Detail.Mobile_no_of_candidate" class="control-label">Mobile no of candidate</label>
                <input asp-for="Candidate_Detail.Mobile_no_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_Detail.Mobile_no_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_Detail.Email_address_of_candidate" class="control-label">Email address of candidate</label>
                <input asp-for="Candidate_Detail.Email_address_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_Detail.Email_address_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
