@page
@model Employment_advertisement_project.Pages.Candidate_details.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Candidate_detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Candidate_detail.Name_of_candidate" class="control-label"></label>
                <input asp-for="Candidate_detail.Name_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_detail.Name_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_detail.DOB_of_candidate" class="control-label"></label>
                <input asp-for="Candidate_detail.DOB_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_detail.DOB_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_detail.Mobile_no_of_candidate" class="control-label"></label>
                <input asp-for="Candidate_detail.Mobile_no_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_detail.Mobile_no_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate_detail.Email_address_of_candidate" class="control-label"></label>
                <input asp-for="Candidate_detail.Email_address_of_candidate" class="form-control" />
                <span asp-validation-for="Candidate_detail.Email_address_of_candidate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
